{
    "database": {
        "host": "db",
        "user": "root",
        "password": "PnKKvj21RziO2OKf",
        "database": "dejavu",
        "auth_plugin": "mysql_native_password"
    },
    "database_type": "mysql"
}
